auto-save-list
cache
elpa
bookmarks
/lisp/init-untracked.el
/.mc-lists.el
/projectile-bookmarks.eld
/projectile.cache
/url/cookies
/eshell
/tramp
/abbrev_defs
/.org-id-locations
/.python-environments
/ac-comphist.dat
