/auto-save-list
cache
/bookmarks
/history
/lisp/km-untracked.el
/.mc-lists.el
/projectile-bookmarks.eld
/projectile.cache
/url/cookies
/eshell
/tramp
/abbrev_defs
/.org-id-locations
/.python-environments
/ac-comphist.dat
/.custom.el
/server
/semanticdb
/psnippets
/test-configs
/network-security.data
/.pydoc-names
/eww-bookmarks
/lisp/km-emacs-autoloads.el
/lisp/mail-config.el
